.app-link {
    text-decoration: none; /* Remove the default underline */
    color: inherit; /* Inherit the color from the parent element */
    cursor: pointer; /* Set the cursor to pointer to indicate a clickable element */
    outline: none; /* Remove the default outline when the link is focused */
    -webkit-tap-highlight-color: transparent; /* Remove the highlight color on mobile devices when the link is tapped */
}
