#global-notification {
    position: fixed;
    bottom: 56px;
    margin: auto;
    max-width: 600px;
    left: 0;
    right: 0;
    z-index: 1100; /* Higher z-index to keep it above other elements */
}

.progressBar-info {
    background-color: var(--info-main);
}

.progressBar-warning {
    background-color: var(--warning-main);
}

.progressBar-error {
    background-color: var(--error-main);
}

.progressBar-success {
    background-color: var(--success-main);
}

/* Progress bar animation */
.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    animation: progressBar 10s linear forwards;
}
@keyframes progressBar {
    0% {
        width: 1%;
    }
    100% {
        width: 100%;
    }
}
/*/
